<!-- ======= Head ======= -->
<%- include('../views/includes/head.ejs') %>
<link href="/css/footerStyle.css" rel="stylesheet">
</head>
<!-- End Head -->

<body>
  <!-- ======= navHeader ======= -->
  <%- include('../views/includes/navHeader.ejs') %>
 <!-- End navHeader -->

  <main id="main">
    <h1>Page to show collections:</h1>
    <h2><%= collectionName %></h2>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <%- include('../views/includes/footer.ejs') %>
  <!-- End Footer -->

<!-- ======= endDocument ======= -->
<%- include('../views/includes/end.ejs') %>
<!-- End  -->